<ion-header [translucent]="true">
  <ion-toolbar color="{{corPrimaria}}">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid *ngIf="pokemon">

    <ion-row>
      <ion-col class="align-items-center">
        <ion-img style="width: 120px; height: 120px;" [src]="pokemon.imgUrl"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="align-items-center">
        <ion-label>
          {{pokemon.nome}}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let tipo of pokemon.tipos" class="align-items-center">
        <ion-card color="{{getColorCard(tipo)}}" style="width: 50%;height: 65%;">
          <ion-card-content class="ion-text-center text-white">
            {{tipo}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col class="text-bold">
        {{pokemon.altura}}
      </ion-col>
      <ion-col class="text-bold">
        {{pokemon.peso}}
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col class="small-text">
        Altura
      </ion-col>
      <ion-col class="small-text">
        Peso
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="{{corPrimaria}}" class="margin-ev">
          <ion-toolbar color="{{corPrimaria}}">
            <div>
              <ion-title size="large">Evoluções</ion-title>
            </div>
          </ion-toolbar>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let evolucao of evolucoes" class="align-items-center">
        <div>
          <ion-img style="width: 80px; height: 80px;" [src]="evolucao.imgUrl"></ion-img>
        </div>
        <div class="small-text">
          {{evolucao.nome}}
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>