.card-padding {
  padding: 30px;
}

.rock {
  background: linear-gradient(to bottom, #b8a038 0%, #e5d073 100%);
}

.water {
  background: linear-gradient(to bottom, #6890f0 0%, #bdc6de 100%);
}

.electric {
  background: linear-gradient(to bottom, #f8d030 0%, #e7d280 100%);
}

.grass {
  background: linear-gradient(to bottom, #78c850 0%, #b9f19d 100%);
}

.poison {
  background: linear-gradient(to bottom, #a040a0 0%, #f3a2f3 100%);
}

.psychic {
  background: linear-gradient(to bottom, #f85888 0%, #f9a0bb 100%);
}

.fire {
  background: linear-gradient(to bottom, #f08030 0%, #f3a36b   100%);
}

.ground {
  background: linear-gradient(to bottom, #e0c068 0%, #ead18b 100%);
}

.ice {
  background: linear-gradient(to bottom, #98d8d8 0%, #cff1f1 100%);
}

.fighting {
  background: linear-gradient(to bottom, #c03028 0%, #e87b75 100%);
}

.ghost {
  background: linear-gradient(to bottom, #705898 0%, #a492c3 100%);
}

.dragon {
  background: linear-gradient(to bottom, #7038f8 0%, #ac89ff 100%);
}

.bug {
  background: linear-gradient(to bottom, #a8b820 0%, #dbea5a 100%);
}

.flying {
  background: linear-gradient(to bottom, #a890f0 0%, #d0c3f5 100%);
}

.normal {
  background: linear-gradient(to bottom, #a8a878 0%, #c7c798 100%);
}