<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list>
    <ion-grid>

      <ion-row>
        <ion-col *ngFor="let elemento of elementos" size="6">
          <ion-card class="{{elemento}}" class="card-padding">
            
            <ion-card-content>
              
              <div class="align-items-center item-padding text-white">
                <ion-label>{{ elemento | titlecase }}</ion-label>
              </div>
              
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-list>


</ion-content>