<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar animated placeholder="Buscar" [(ngModel)]="buscaNomePokemon" (ionChange)="buscarPorNome()"></ion-searchbar>

  <ion-list>
    <ion-grid>
      <ion-row>

        <ion-col *ngFor="let pokemon of pokemons" size="6">
          <ion-card>

            <div class="align-items-center item-padding">
              <ion-avatar>
                <img [src]="pokemon.imgUrl">
              </ion-avatar>
            </div>
            <div class="align-items-center item-padding">
              <ion-label>{{pokemon.nome}}</ion-label>
            </div>

          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>


</ion-content>